@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  /* 가로 스크롤 안 생기게 */
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}
p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.global-nav {
  height: 44px;
  padding: 0 1rem;
}
.local-nav {
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}
.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.global-nav-links {
  justify-content: space-between;
}

.local-nav-links .product-name {
  /* margin auto는 내가 가질 수 있는 영역을 다 써서 소비함 */
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.local-nav-links a {
  font-size: 0.8rem;
}
/* :not은 제외한다는 뜻! */
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}

.scroll-section {
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}
.main-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  /*  em을 사용하면 편리한 점: */
  height: 3em;
  font-size: 2.5rem;
}
.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
#scroll-sectoin-2 .main-message {
  font-size: 3.5rem;
}

.description {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #888;
  padding: 0 1rem;
}
.description strong {
  /* Loream 글자들이 strong 글자를 감싸고 있음 => float*/
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: rgb(29, 29, 31);
}
.desc-message {
  width: 50%;
  font-weight: bold;
}
.pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}
.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}
.mid-message strong {
  color: rgb(29, 29, 31);
}
.canavs-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  color: white;
  font-size: 1.2rem;
  background: darkorange;
}

/* desktop size */
@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .desc-message {
    width: 20%;
  }
  .mid-message {
    font-size: 4vw;
  }
  .canvas-caption {
    font-size: 2rem;
  }
}
